@*@model IndexModel*@

@{string place = ViewData["Place"].ToString();

    place = place.Replace("_", " "); }


<h1>Logout from @place</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogoutTracker">
            <div class="form-group">
                <input type="submit" value="Log me out" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
